html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0px;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a
{
	text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #0079BF;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

@media (max-width: 1024px) {
    .main {
        height: 1600px;
    }
}

.page-error {
	height: 1600px;
	padding: 17px 21px;
	color: #ffffff;
	font-size: 24px;
	line-height: 32.81px;
  }
  
  button {
	border: none;
	color: #0079bf;
	background-color: #fff;
	width: 102px;
	height: 29px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 400;
	line-height: 21.09px;
	margin-top: 12px;
	cursor: pointer;
	margin-left: 10px;
  }
  
  button:hover {
	box-shadow: 10px 5px 5px #084a70;
	color: #084a70;
  }
  